{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block meta_description %}{% endblock %}
{% block content %}
<div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg-img/12.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Set Appointment</h2>
        </div>
      </div>
    </div>
  </div>
  <br/>

 <center>
	<h2> Result Appointment</h2>
	<br/>	
	<h4>Review Your Information:</h4>
	<strong>your name     :</strong>{{your_name}} <br/>
	<strong>your phone    :</strong>{{your_phone}} <br/>
	<strong>your email    :</strong>{{your_email}} <br/>
	<strong>your address  :</strong>{{your_address}} <br/>
	<strong>your scheldule:</strong>{{your_scheldule}} <br/>
	<strong>your time     :</strong>{{your_time}} <br/>
	<strong>your message  :</strong>{{your_message}} <br/>
</center>
<br/><br/><br/>
{% endblock %}